* {
    margin: 0;
    padding: 0;
}

/* Nicoline START*/

/* Nicoline END */

/* Victor START */

.lillesection{
    width: 34%;
    height: 300px;
    background-color: aquamarine;
    display: flex;
    float: left;
}
.storsection{
    width: 66%;
    height: 300px;
    background-color: aqua;
    display: flex;
    float: left;
}
/* Victor END */

/* Christian START */
.Christian {

}

/* Christian END */

/* Andreas START */

/* Andreas END */