/* Nicoline START*/

/* Nicoline END */

/* Victor START */

.lillesection{
    width: 34%;
    height: 300px;
    background-color: aquamarine;
}
.storsection{
    width: 66%;
    height: 300px;
    background-color: aqua;
}
/* Victor END */

/* Christian START */

/* Christian END */

/* Andreas START */

/* Andreas END */